body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 83, 83);
  }
#searchInput {
    display: flex;
    justify-content: center;
    align-items: center;
}
div input {
    position: absolute;
    top: 70px;
}
div button {
    position: absolute;
    top: 110px;
}
#searchInput h2 {
    position: absolute;
    color: white;
    top: 0px;
}
#cardView {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 150px;
    width: 420px;
    height: 210px;
    background: rgb(255,255,255);
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgb(249, 224, 189));
    border-radius: 20px;
}
img {
    height: 100px;
    width: 100px;
}
#leftSide,
#rightSide {
    text-align: center;
    margin: auto;
}
#cityName,
#weatherCondition {
    margin-top: -20px;
    color: gray;
}
#temperatureText {
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}